/* Universal Selector */
* {
    margin: 0;
    padding: o;
}

/* Element Selectors */
body {
    position: relative;
    background-image: url("..//assets/images - copy/solen-feyissa-OGESQRAZTy8-unsplash.jpg");
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: darkviolet;
}

h1, h2 {
    font-weight: bolder;
    font-size: 30px;
    color: darkviolet;
    font-family:'Times New Roman', Times, serif;
    text-decoration-color: black;
    margin: 20px;
}

main {
    padding: 60px 0;
}

li {
    display: inline;
    padding: 20px;
    text-decoration: none;       
}

a {
    text-decoration: none;
    color: lavender;
    font-size: 24px;
    font-weight: bolder;
}

header,
footer {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color:darkorchid;
}

header {
    position: fixed;
    border-bottom: 20px solid thistle;
}

footer {
    position: absolute;
    margin-top: 0;
    bottom: o;
    border-bottom: 20px solid thistle;
    color: lavender;
}

figure {
    margin-bottom: 30px;
}

img {
    display: block;
    margin: 20px auto;
}

section {
    margin-bottom: 0;
    padding: 20px 10px 30px 10px;
    border-top: 3px solid darkorchid;
    background-color: lavender;
}
form {
/* Center form on the page */
    margin: 0 auto;
    width: 500px;
    padding: 10px;
    border: 10px solid darkorchid;
    border-radius: 20px;
}

label {
    display: inline-block;
    width: 100px;
}

input,
textarea {
    box-sizing: border-box;
    width: 300px;
    border: 1px solid darkorchid;
}

textarea {
    vertical-align: top;
    height: 60px;
}

button {
    height: 40px;
    width: 120px;
    background-color: darkviolet;
    color: lavender;
}
/* Class Selectors */
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}